@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap');

:root {
  --bg: #149;
  --main: #eee;
}
html {
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}

body {
  background-color: var(--bg);
  color: var(--main);
  margin: 0;
  padding: 0;
}

a {
  color: var(--main);
}

#app {
  padding: 4rem;
}

.home {
  writing-mode: vertical-lr;
  padding-top: 6rem;
  h1 {
    margin-right: 0;
    font-size: 60px;
    font-weight: 200;
  }
  h2 {
    margin-right: 4rem;
    font-size: 14px;
    font-weight: 200;
  }
}

.list-posts {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-right: 2rem;
  }
  h3 {
    font-weight: 200;
    a {
      text-underline-offset: 3px;
      text-decoration-thickness: 1px;
      font-size: 36px;
    }
  }
}

.single {
  .title-post {
    font-size: 42px;
    font-weight: 200;
  }
  .content {
    p {
      font-size: 24px;
      font-weight: 200;
      letter-spacing: 1px;
      line-height: 2;
      white-space: nowrap;
    }
  }
  .back {
    margin-top: 6rem;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, .2);
    color: rgba(255, 255, 255, .5);
    padding: 6px 18px;
    border-radius: 24px;
    transition: .4s;
  }
  .back:hover {
    color: rgba(255, 255, 255, .85);
    border-color: rgba(255, 255, 255, .5);
  }
}

@media (min-width: 768px) {
  .single {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    .title-post {
      font-size: 60px;
    }
    .content {
      p {
        font-size: 36px;
      }
    }
  }
}